<div>
    <button class="bg-blue-500 text-white px-4 py-2 rounded mb-4" ng-click="$ctrl.openModal()">
        + Add Account
    </button>

    <input type="text" ng-model="$ctrl.searchQuery" ng-change="$ctrl.filterAccounts()" placeholder="Search accounts..." />
    
    <table>
        <thead>
            <tr>
                <th ng-click="$ctrl.sortAccounts('accountName')">Account Name</th>
                <th ng-click="$ctrl.sortAccounts('ownerName')">Owner Name</th>
                <th ng-click="$ctrl.sortAccounts('createdDate')">Created Date</th>
                <th ng-click="$ctrl.sortAccounts('checkingAmount')">Checking Amount</th>
                <th ng-click="$ctrl.sortAccounts('savingsAmount')">Savings Amount</th>        
                 <th>Actions</th>     
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="account in $ctrl.filteredAccounts">
                <td>{{ account.accountName }}</td>
                <td>{{ account.ownerName }}</td>
                <td>{{ account.createdDate | date:'MM-dd-yyyy' }}</td>
                <td>{{ account.checkingAmount | currency }}</td>
                <td>{{ account.savingsAmount | currency }}</td>
                <td>
                    <a ui-sref="accountDetail({ accountId: account.accountId })">
                        View Details
                    </a>  
                    <button ng-click="$ctrl.removeAccount(account.accountId)">
                        Delete
                    </button>                
                </td>
            </tr>
        </tbody>
    </table>

    <add-account-component ng-if="$ctrl.isModalOpen" close-modal="$ctrl.closeModal()"></add-account-component>
    
</div>
